<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class=" title dropdown-toggle">Woman clothing</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <%= link_to "Coats", new_order_path %>
          </li>
          <li>
            <%= link_to "Dresses", new_order_path %>
          </li>
          <li>
            <%= link_to "Jackets", new_order_path %>

          </li>
          <li>
            <%= link_to "Jeans", new_order_path %>
          </li>
          <li>
            <%= link_to "Jumpers", new_order_path %>
          </li>
          <li>
            <%= link_to "Hoodies", new_order_path %>
          </li>
          <li>
            <%= link_to "Shirts", new_order_path %>
          </li>
          <li>
            <%= link_to "Shorts", new_order_path %>
          </li>
          <li>
            <%= link_to "Skirts", new_order_path %>
          </li>
          <li>
            <%= link_to "Suits", new_order_path %>
          </li>
          <li>
            <%= link_to "Trousers", new_order_path %>

          </li>
          <li>
            <%= link_to "Shirts", new_order_path %>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="title dropdown-toggle">Man clothing</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <%= link_to "Coats", new_order_path %>
          </li>
          <li>
            <%= link_to "Jackets", new_order_path %>
          </li>
          <li>
            <%= link_to "Jeans", new_order_path %>
          </li>
          <li>
            <%= link_to "Jumpers", new_order_path %>
          </li>
          <li>
            <%= link_to "Hoodies", new_order_path %>
          </li>
          <li>
            <%= link_to "Shirts", new_order_path %>
          </li>
          <li>
            <%= link_to "Shorts", new_order_path %>
          </li>
          <li>
            <%= link_to "Suits", new_order_path %>
          </li>
          <li>
            <%= link_to "Sweaters", new_order_path %>
          </li>
          <li>
            <%= link_to "Ties", new_order_path %>
          </li>
          <li>
            <%= link_to "Trousers", new_order_path %>
          </li>
          <li>
            <%= link_to "T-Shirts", new_order_path %>
          </li>

        </ul>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>


</div>

<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
</script>